<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main-contain"> 
    <div class="border1">
        <div class="border2">
            <div class="border3">
                <div class="border4">
                    <div class="border5">
                        <div class="border6">
                            <div class="border7">
                                <div class="border8">
                                    <marquee direction="left" scrollamount="12">
                                     Welcome to Publicis Sapient.
                                        </marquee>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
